mat-form-field{
    margin-left: 10%;
    margin-right: 10%;
}

h2{
    text-align: center;
    margin-top: 10%;
    margin-bottom: 5%;
}

.dialog-buttons{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    gap: 12px;
    margin-right: 10%;
    margin-top: 16px;
    margin-bottom: 10%;
}