.content {
  text-align: center;
  width: 100%;
}

.title {
  margin-top: 60px;
  font-weight: 450;
  color: #2398BA;
  font-size: Xx-large;
  margin-bottom: 15px;
}

.subTitle {
  font-weight: 200;
  font-size: large;
  color: #BA4623
}

.cards-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
  flex-wrap: wrap;
}
