@if (this.modifiedCellsCount() > 0) {
  @if(this.errorCellsCount()===0){
    <div class="status-bar success">
      <span>Fez {{this.modifiedCellsCount()}} alterações - clique no botão salvar para guardar</span>
    </div>
  }@else{
    <div class="status-bar error">
      <span>Fez {{this.modifiedCellsCount()}} alterações - corrija os erros para guardar</span>
      <span>Tem {{this.errorCellsCount()}} erros</span>
    </div>
  }


}

<div class="page">
  <div class="title">
    <h2>Scenario Analysis</h2>
    <div class="view-toggle">
      <button mat-button [class.view-active]="viewMode() === 'table'" (click)="showTable()">
        Table View
      </button>

      <button mat-button [class.view-active]="viewMode() === 'chart'" (click)="showChart()">
        Chart View
      </button>
    </div>
  </div>
  <div>
    @for (ou of offerUnits() ; track ou.id) {
    <app-dynamic-table-component [offerUnit]="ou" />
    }
  </div>

</div>
