
<h3>
  {{ offerUnit()?.id }} - {{ offerUnit()?.name }}
</h3>

<div class="table-container">
  <table class="offer-table">
    <thead>
      <tr>
        <th rowspan="2">
          Volume Buy
        </th>
        @for (hour of hours; track hour.label) {
          <th
            colspan="4"
            class="hour-header">
            {{ hour.label }}
          </th>
        }
      </tr>

      <tr>
        @for (quarter of offerUnit()?.quarters; track quarter.quarter) {
          <th>
            Q{{ $index + 1 }}
          </th>
        }
      </tr>
    </thead>

    <tbody>
      @for (row of tableData; track row.field) {
        <tr>
          <td class="field-cell">
            {{ row.rowName }}
          </td>

          @for (quarter of offerUnit()?.quarters; track quarter.quarter) {
            <td [class.edited-cell]="isCellEdited(quarter, row.field)" 
            [class.selected-cell]="isCellSelected(quarter, row.field)" 
            [class.highlight-cross-cells]="isInCross(quarter,row.field)"
            [id]="offerUnit().id + '-' + quarter.quarter + '-' + row.field"
            (mousedown)="onMouseDown($event,quarter, row.field)"
            (mouseenter)="onMouseEnter(quarter,row.field)"
            (mouseup)="onMouseUp()">
              <input
                #inputElement
                appInputDirective
                (ctrlEnter)="offerUnitStore.updateSelectedCells($event)"
                type="text"
                step="0.01"
                [ngModel]="getValue(quarter, row.field)"
                (blur)="setValue(quarter, row.field, inputElement.value)">
            </td>
          }
        </tr>
      }
    </tbody>

  </table>
</div>

<div class="button-div">
  <button mat-button class="buttons" (click)="clear(offerUnit().id)">
    Clear changes
  </button>
  <button mat-button class="buttons" (click)="save()">
    Save
  </button>

</div>


  