mat-card {
  width: 400px;
  min-height: 220px;
  border-radius: 3px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

mat-icon {
  font-size: 70px;
  width: 80px;
  height: 80px;
}

.title {
  font-weight: 500;
  text-align: left;
}

.description {
  font-weight: 300;
  text-align: justify;
}

.button-active {
  margin-top: 20px;
  color: whitesmoke !important;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: #1f3048;
}

.button-inactive {
  margin-top: 20px;
  color: #1f3048 !important;
  width: fit-content;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  background-color: grey;

}
