<mat-toolbar>
  <div>
    <button mat-button (click)="openSidepanel()">
      <mat-icon>view_headline</mat-icon>
    </button>
  </div>
  <div class="left-section" routerLink="/">
    <mat-icon>{{ icon }}</mat-icon>
    <span>{{ title }}</span>
  </div>

  <mat-form-field class="country-selector" appearance="outline">
    <mat-select [ngModel]="selectedCountry" (ngModelChange)="updateCountry($event)">
      @for (country of allowedCountries(); track country.code) {
      <mat-option [value]="country.code">
        {{ country.name }}
      </mat-option>
      }
    </mat-select>
  </mat-form-field>

  <span class="spacer"></span>
  <div class="user-menu">
  <div class="user-avatar">
    <mat-icon>person</mat-icon>
  </div>

  <div class="user-info">
    <span class="user-name">
      {{ user.firstName }} {{user.lastName}}
    </span>
  </div>

  
  <button mat-button [matMenuTriggerFor]="userMenu">
    <mat-icon>keyboard_arrow_down</mat-icon>
  </button>
  </div>

  
<mat-menu #userMenu="matMenu" panelClass="user-menu-panel">
  <button mat-menu-item
    (click)="logout()">
    <mat-icon>logout</mat-icon>
    <span>Logout</span>
  </button>

</mat-menu>

</mat-toolbar>
